* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: white;
}

body {
  background: #1d283c;
}

v_app {
  display: flex;
  flex-direction: column;
  background: #263238;
  height: 100vh;
  overflow: hidden;
}

cache_stats_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #3f51b5;
  background: #0000003d;
}

button {
  padding: 0.25em 1em;
  background: #3f51b5;
  border: none;
  box-shadow: 0 10px 10px -5px black;
  white-space: nowrap;
}

button:hover {
  border-radius: 1em;
  cursor: pointer;
  background: #232d68;
}

input {
  background: #1d262b;
  border: none;
  border-bottom: 2px dashed #3f51b5;
  padding: .5em 1em;
  flex: 1;
  display: flex;
}

input:hover {
  background: #384c57;
}

change_title_form,
change_version_form,
cache_actions,
tasks_listing {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  background: #8080802e;
  gap: 1em;
  flex-flow: wrap;
}

app_info {
  padding: .25em;
}

app_info h1 {
  color: gray;
  font-size: 10px;
}

app_info h2 {
  color: #4d4d4d;
  font-size: 8px;
}

form_group {
  flex: 1;
  display: flex;
  flex-flow: wrap;
}

change_title_form h3,
change_version_form h3,
cache_actions h3 {
  flex: 1;
}

cache_stats_box>* {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 1em;
  line-height: 1em;
  font-size: 1em;
}

cache_stats_box div p {
  font-size: 1em;
  color: #3f51b5;
}

cache_stats_box div h5 {
  font-size: 1em;
}

cache_actions form_group {
  gap: 1em;
  justify-content: flex-end;
}

tasks_listing {
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #3f51b5;
}

group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

group item {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff12;
  padding: 0.25em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #0000002e;
}

header info {
  -webkit-app-region: drag;
}

header group {
  display: flex;
  flex-direction: row;
  flex: 0;
  gap: 0;
}

header info {
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

header info {
  font-size: .65em;
  display: flex;
}

header button {
  background: transparent;
  box-shadow: none;
}

header button:hover {
  border-radius: 0;
}

content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  overflow: auto;
}

footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  background: #0000002e;
}

footer app_info {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 1em;
}

cache_listing {
  display: flex;
  flex-direction: column;
  background: #ffffff0f;
}

cache_listing group item {
  padding: 1em;
  word-break: break-word;
}

cache_listing actions {
  padding: .5em;
  border: 1px solid #3f51b5;
}

cache_listing group {
  padding: 1em;
  border: 1px solid #3f51b5;
}

section {
  display: flex;
  flex-direction: column;
  background: #ffffff10;
  border: 1px solid #1d262b;
}

content item {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff14;
  align-items: center;
  padding: 0.25em;
  border: 1px solid transparent;
}

item header {
  background: none;
}

button.active {
  background: #3f51b5;
}

button:disabled {
  background: gray;
  opacity: 0.5;
  pointer-events: none;
}

section.listBackendTasks>content>item>header {
  flex: 1;
}

section.listBackendTasks>content>item>header>* {
  flex: 1;
}

v_app>content>section>header {
  padding: .5em;
}

content item:hover {
  border: 1px solid #222434;
  background: #2f3868;
}

v_app>content>section>footer {
  justify-content: space-between;
  align-items: stretch;
  padding: .35em;
}

v_app>content>section>footer>* {
  flex: 1;
  align-items: center;
  display: flex;
  padding: .5em 1em;
}

modal {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

modal overlay {
  width: 100%;
  height: 100%;
  background: #000000bf;
  display: flex;
  position: absolute;
  left: 0;
  ;
  top: 0;
}

modal inner {
  z-index: 100;
  flex: 0;
  display: flex;
  flex-direction: column;
  background: slategray;
}

modal inner header {
  padding: .5em 1em;
}

modal inner content form_group {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.app_debug_toggle content {
  justify-content: space-between;
}

modal inner content group p {
  white-space: nowrap;
}

select,
option {
  font-size: 1em;
  padding: .5em 1em;
  color: white;
  border: none;
  background: #2b3946;
}